# Configuración de Tableau Server
TABLEAU_SERVER_URL=https://bitableau.ajegroup.com/
TABLEAU_SITE_ID=Cam
TABLEAU_TOKEN_NAME=tu_token_name
TABLEAU_TOKEN_VALUE=tu_token_value

# Configuración de Flask
FLASK_ENV=production
DEBUG=False
PORT=5000

# Base de datos
DATABASE_PATH=datos_planificador.db
